.tit {
    margin-bottom: 32px;
}

.tit h2 {
    font-family: 'Noto Serif KR';
    font-size: 40px;
    font-weight: 500;
    color: #000;
    margin-bottom: 16px;
}

.tit p {
    font-family: 'Noto Serif KR';
    font-size: 15px;
    font-weight: 440;
    color: #cdbfb3;
}


.desc h3 {
    font-family: 'Noto Serif KR';
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 16px;

}

.desc strong {
    font-family: 'Noto Serif KR';
    display: inline-block;
    font-size: 15px;
    background: #f0e9e3;
    padding: 8px 10px;
    margin-bottom: 20px;
}

.desc span {
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 500;
    display: block;
    line-height: 1.45;
    color: #7b7b7b;
}

@media (max-width: 768px) {
    .tit h2 {
        font-size: 28px;
        text-align: center;
    }

    .tit p {
        font-size: 14px;
        text-align: center;
    }


    .desc h3 {
        font-size: 20px;
    }

    .desc strong {
        font-size: 14px;
    }

    .desc span {
        font-size: 14px;
    }
}


.btn {
    display: inline-block;
    font-size: 14px;
    color: #1d5c6b;
    border: 1px solid #1d5c6b;
    padding: 10px 30px;
    margin-top: 30px;
    transition: .5s;
}

.btn:hover {
    color: #fff;
    background: #1d5c6b;
    border: 1px solid #1d5c6b;
}




.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    background: #fff;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.header .logo {
    display: block;
    width: 200px;
    height: 40px;
    background: url(../images/logo.svg) no-repeat;
}



.header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 50px;

    transition: .5s;
}

.header.on .header_wrap {
    height: 80px;
}



.header .gnb {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;

}

.header .gnb>ul {
    display: flex;
    font-size: 18px;
    justify-content: flex-start;
    gap: 50px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li {
    position: relative;
    display: block;
    line-height: 100px;
}


.header .gnb>ul>li::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 3px;
    background: #1d5c6b;
}

.header.on .gnb>ul>li::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 3px;
    background: #1d5c6b;
}

.header .gnb>ul>li:hover::after {
    width: 100%;
    transition: 0.5s;
}


.header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 8px;
    background: #ddd;
}


.header .gnb>ul .sub {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 170px;
    padding: 15px 20px 20px 20px;
    text-align: center;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 30px 0;

    opacity: 0;
    visibility: hidden;
    transition: .5s;

}




.header .gnb>ul>li:hover .sub {
    opacity: 1;
    top: 100px;
    visibility: visible;
}

.header.on .gnb>ul>li:hover .sub {
    opacity: 1;
    top: 90px;
    visibility: visible;
}

.header .gnb>ul .sub a:hover {
    color: #1d5c6b;
    font-weight: 500;
}

.header .gnb .sub>li~li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header .gnb .sub a {
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}

@media (max-width: 768px) {
    .header h1 {
        position: fixed;
        z-index: 1000;
        padding: 0 0 0 0;
    }

    .header .header_wrap {
        padding: 0 15px;
        height: 60px;
    }

    .header.on .header_wrap {
        height: 60px;
    }

    .header .logo {
        width: 140px;
        height: 30px;
        background: url(../images/logo.svg) no-repeat;
    }

    .header .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;

        background: #f9f9f9;
        height: 100vh;
        width: calc(100% - 90px);
        padding: 20px 35px 0 35px;
        transition: .5s;
    }

    .header .gnb.on {
        inset: 0 auto 0 0;
    }

    .header .gnb>ul {
        flex-direction: column;
        gap: 0;
        padding: 150px 30px 0 30px;
    }

    .header .gnb>ul>li~li::before {
        display: none;
    }


    .header .gnb>ul>li>a {
        color: #444;
        display: block;
        line-height: 60px;
        border-bottom: 1px solid #ddd;
    }

    .header .gnb>ul>li>a:hover {
        border-bottom: 1px solid #1d5c6b;
    }


    .header .gnb>ul>li::after {
        display: none;
    }

    .header .gnb>ul .sub {
        position: static;
        transform: translate(0, 0);

        width: auto;
        background: #fff;
        border: none;
        border-radius: 0 0 0 0;
        text-align: left;
        transition: none;

        visibility: visible;
        opacity: 1;

        display: none;
    }


    /* 2-2 */
    .header .gnb>ul>li:hover .sub {
        /* display: none; */
    }

}


.header .gub ul>li::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ddd;

    opacity: 0;
    transition: all ease .5s;
    transform: translateX(-50%);
}

.header .gub ul>li:hover::after {
    opacity: 1;
    top: 50px;
}


.header .icon>ul {
    display: flex;
    width: 200px;
    gap: 20px;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .header .icon>ul {
        display: none;
    }
}


.mopen {
    display: none;
    /* 0 pc에서 없애기 */
}

@media (max-width: 768px) {

    /* 1 모바일에서 나타내기*/

    .mopen {
        display: block;

        position: fixed;
        inset: 15px 15px auto auto;
        z-index: 1000;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .mopen::before,
    .mopen::after {
        content: "";
        position: absolute;
        inset: 14px 5px auto 5px;
        height: 2px;
        background: #444;
    }

    .mopen.on::before {
        transform: rotate(45deg);
        transition: 0.5s 0.2s;
    }

    .mopen.on::after {
        transform: rotate(-225deg);
        transition: 0.5s 0.6s;
    }

    .mopen button {
        border: none;
        outline: none;
        background: transparent;
    }

    .mopen button::before,
    .mopen button::after {
        content: "";
        position: absolute;
        height: 2px;
        background: #444;
    }

    .mopen button::before {
        inset: 7px 5px auto 5px;
    }

    .mopen button::after {
        inset: auto 5px 7px 5px;
    }

    .mopen.on button::before {
        display: none;
    }

    .mopen.on button::after {
        display: none;
    }

}






.main_visual .mbg {
    position: relative;
    height: 100vh;
}

.main_visual .mbg01 {
    background: url(../images/main_visual01.jpg)no-repeat center center /cover;
}

.main_visual .mbg02 {
    background: url(../images/main_visual02.jpg)no-repeat center center /cover;
}

.main_visual .mbg03 {
    background: url(../images/main_visual03.jpg)no-repeat center center /cover;
}

.main_visual .mbg03::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}

.main_visual .mbg_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    color: #fff;
}



.main_visual .mbg_txt h2 {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 20px;

    background: #1d5c6b;
    padding: 5px 10px;
}


.main_visual .mbg_txt p {
    font-family: 'Noto Serif KR';
    font-size: 44px;
}

.main_visual .mbg_txt span {
    display: block;
}

@media (max-width: 768px) {

    .main_visual .mbg_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        max-width: auto;
        width: 100%;
        padding: 0 15px;
        color: #fff;
    }

    .main_visual .mbg {
        position: relative;
        height: 450px;
    }

    .main_visual .mbg01 {
        background: url(../images/main_visual_m_01.jpg)no-repeat center top/120%
    }

    .main_visual .mbg02 {
        background: url(../images/main_visual_m_02.jpg)no-repeat center top /120%
    }

    .main_visual .mbg03 {
        background: url(../images/main_visual_m_03.jpg)no-repeat center top /120%;
    }

    .main_visual .mbg_txt h2 {
        font-size: 0;
        background: none;
    }

    .main_visual .mbg_txt h2::before {
        content: "";
        position: absolute;
        top: -5%;
        left: 47%;
        transform: translate(0, -50%);
        text-align: center;

        background: url(../images/main_visual_symbol.svg) no-repeat;
        width: 160px;
        height: 40px;
    }

    .main_visual .mbg_txt p {
        font-size: 20px;
    }


}



.main_visual .arrows {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 120px;
    cursor: pointer;
}

.main_visual .arrows i {
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    background: #1d5b6b8c;
}

.main_visual .arrows .left {
    position: absolute;
    left: 0;
}

.main_visual .arrows .left:hover {
    background: #1d5c6b;
}

.main_visual .arrows .right {
    position: absolute;
    right: 0;
}


.main_visual .arrows .right:hover {
    background: #1d5c6b;
}


@media (max-width: 768px) {

    .main_visual .arrows {
        top: 45%;
        width: 100%;
    }

    .main_visual .arrows i {
        font-size: 14px;
        padding: 14px;
    }

    .main_visual .arrows .left {
        position: absolute;
        left: 15px;
    }

    .main_visual .arrows .right {
        position: absolute;
        right: 15px;
    }

}




.main_visual .scroll {
    position: absolute;
    bottom: 11%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 12px;
    color: #ddd;
}


.main_visual .scroll::after {
    content: "";
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 85px;
    background: #b3b3b3;

}


@media (max-width: 768px) {
    .main_visual .scroll {
        display: none;
    }
}



.main_doctor {
    position: relative;
}

.main_doctor .content {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 120px;
}

@media (max-width: 768px) {
    .main_doctor .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: left;
        margin-bottom: 50px;
    }
}

.main_doctor .content img {
    width: 611px;
    border-radius: 10px;
}

.main_doctor .doctor_wrap {
    max-width: calc((100% - 1170px) / 2 + 1170px);
    display: flex;
    gap: 50px;
    margin: 0 0 0 auto;
}

.main_doctor .doctor_wrap .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.main_doctor .doctor_wrap .desc h3 {
    font-size: 16px;
    width: 200px;
    font-weight: 500;
    line-height: 1.45;
}

.main_doctor .doctor_wrap .desc span {
    font-family: 'Noto Serif KR';
    display: block;
    font-size: 32px;
    font-weight: 500;
    color: #b3b3b3;
    line-height: 1.25;
}

.main_doctor .doctor_wrap .desc span::after {
    content: "";
    display: block;
    width: 250px;
    height: 1px;
    background: #cdbfb3;
    margin: 10px 0;
}

.main_doctor .doctor_slide {
    position: relative;
    margin: 0 0 30px auto;
}

.main_doctor .doctor_slide .itm img {
    border-radius: 10px;
    margin-bottom: 20px;
}

.main_doctor .doctor_slide .itm strong {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.main_doctor .doctor_slide .itm span {
    display: inline-block;
    font-size: 12px;
    color: #7b7b7b;
    text-align: right;
}

.main_doctor .doctor_slide .itm a {
    display: inline-block;
    background: #1d5c6b;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    padding: 5px 10px;
}


@media (max-width: 768px) {
    .main_doctor .doctor_wrap {
        width: auto;
        display: block;
        padding: 0 15px;
    }

    .main_doctor .doctor_wrap .desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .main_doctor .doctor_wrap .desc h3 {
        font-size: 14px;
        width: 100%;
    }

    .main_doctor .doctor_wrap .desc span {
        font-size: 18px;
        color: #444;
    }

    .main_doctor .doctor_wrap .desc span::after {
        width: 120px;
    }


    .main_doctor .doctor_slide .itm strong {
        font-size: 14px;
    }

    .main_doctor .doctor_slide .itm span {
        font-size: 10px;
    }

    .main_doctor .doctor_slide .itm a {
        font-size: 12px;
    }

}

.main_doctor .scroll_bar {
    position: absolute;
    top: 51%;
    right: -380px;
    transform: translate(-50%, -50%);
    z-index: 999;

    width: 1110px;
    height: 10px;
}

.main_doctor .scroll_bar .sbar {
    background: #faf7ef;
}

.main_doctor .scroll_bar .sbar span {
    background: #cdbfb35e;
}

.main_doctor .arrows {
    position: absolute;
    top: 49%;
    right: 5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.main_doctor .arrows i {
    font-size: 25px;
    color: #1d5c6b;
    border: 1px solid #1d5c6b;
    padding: 10px;
    border-radius: 50%;
    transition: .5s;
}

.main_doctor .arrows .left {
    position: absolute;
    right: 8px;
}

.main_doctor .arrows .right {
    position: absolute;
    left: 8px;
}

.main_doctor .arrows .left:hover {
    color: #fff;
    background: #1d5c6b;
    border: 1px solid #1d5c6b;
}

.main_doctor .arrows .right:hover {
    color: #fff;
    background: #1d5c6b;
    border: 1px solid #1d5c6b;
}

@media (max-width: 768px) {
    .main_doctor .scroll_bar {
        display: none;
    }

    .main_doctor .arrows {
        position: absolute;
        top: 72%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 9999;
        max-width: 100%;
        width: 100%;
        padding: 0 15px;

        cursor: pointer;
    }

    .main_doctor .arrows i {
        font-size: 25px;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 0 0 0 0;

        transition: .5s;
    }

    .main_doctor .arrows .left {
        position: absolute;
        top: 50%;
        left: 6px;
    }

    .main_doctor .arrows .right {
        position: absolute;
        top: 50%;
        left: auto;
        right: 6px;
    }

    .main_doctor .arrows .left:hover {
        color: #1d5c6b;
        background: none;
        border: none;
    }

    .main_doctor .arrows .right:hover {
        color: #1d5c6b;
        background: none;
        border: none;
    }

}





.main_story {
    position: relative;
    background: #faf7ef;
}

.main_story::before {
    content: '';
    position: absolute;
    top: 20%;
    right: 5%;
    background: url(../images/msg1.png) no-repeat right 0;
    background-size: 100% auto;
    width: 16%;
    padding-bottom: 60%
}


.main_story .story_con {
    max-width: calc((100% - 1170px) / 2 + 1170px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.main_story .story_con figcaption {
    padding: 50px;
}

.main_story .story_con .fg {}

@media (max-width: 768px) {
    .main_story::before {
        display: none;
    }

    .main_story .story_con {
        max-width: calc((100% - 1170px) / 2 + 1170px);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .main_story .story_con figcaption {
        padding: 50px 0 0 0;
    }

    .main_story .story_con .fg {
        order: 2;
    }

    .main_story .story_con figcaption .btn {
        margin: 30px 0 50px 0;
    }

}






.main_space .space_slide {
    position: relative;
    max-width: calc((100% - 1170px) / 2 + 1170px);
    margin: 0 0 30px auto;
}

.main_space .space_slide .img_box img {
    border-radius: 10px;
}

.main_space .arrows {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
    z-index: 999;
    cursor: pointer;
}

.main_space .arrows i {
    font-size: 48px;
    color: #fff;
    padding: 5px;
}

.main_space .arrows i:hover {
    color: #1d5c6b;
}

@media (max-width: 768px) {
    .main_space .space_slide {
        padding: 0 15px;
    }
}






.main_food {
    position: relative;
    background: #faf7ef;
}

.main_food::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/bg2.png) no-repeat right 0;
    background-size: 100% auto;
    width: 40%;
    padding-bottom: 60%
}

.main_food .content .img_box img {
    border-radius: 0 0 100px 0;
}

.main_food .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
    margin-bottom: 60px;
}

.main_food .content::before {
    display: none;
}


.main_food .food_rule .desc {
    margin-bottom: 40px;
    border-bottom: 1px solid #cdbfb3;
}

.main_food .food_rule .desc p {
    margin-bottom: 40px;
}

.main_food .food_rule>ul {
    display: flex;
    gap: 1px;
}

.main_food .food_rule>ul strong {
    font-size: 15px;
}

.main_food .food_rule .list01 {
    margin-bottom: 40px
}

.main_food .food_rule>ul>li img {
    border-radius: 5px;
    margin-bottom: 15px;
    height: 150px;
}


@media (max-width: 768px) {
    .main_food .content {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-bottom: 60px;
    }

    .main_food .content::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -5%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 60px;
        height: 1px;
        background: #cdbfb3;
    }

    .main_food .food_rule .desc {
        margin-bottom: 40px;
        border-bottom: 1px solid #cdbfb3;
    }

    .main_food .food_rule .desc p {
        margin-bottom: 40px;
    }

    .main_food .food_rule>ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
    }


    .main_food .food_rule>ul strong {
        display: block;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .main_food .food_rule .list01 {
        margin-bottom: 0;
    }

    .main_food .food_rule>ul>li img {
        border-radius: 5px;
        margin-bottom: 15px;
        height: 150px;
    }


}







.main_consul .tel_box {
    width: 56.625%;
    padding: 70px 30px 145px 70px;
    background: url(../images/img_tel.jpg) no-repeat 50% 50% /cover;
    color: #fff;
}

.main_consul .tel_box .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 0 0 0;
}

.main_consul .tel_box .txt strong {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.main_consul .tel_box .txt .num {
    display: block;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.main_consul .tel_box .txt p {
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 500;
}

.main_consul .tel_box .txt span {
    display: block;
}

.main_consul .content {
    display: flex;
    gap: 50px;
    align-items: center;
}

.main_consul .content ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: -20px 0 0 0;
}

.main_consul .content ul>li:nth-child(-n+2) {
    border-bottom: 1px solid #ddd;
    padding: 30px 0;
}

.main_consul .content ul>li:nth-child(3) {
    padding: 30px 0 0 0;
}

.main_consul .content ul>li span {
    font-family: 'Noto Serif KR';
    font-size: 24px;
}

.main_consul .content ul>li a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;

}

.main_consul .content ul>li p {
    display: flex;
    align-items: center;
}

.main_consul .content ul>li i {
    font-size: 28px;
    color: #ddd;
    vertical-align: -2px;
    margin: 0 10px 0 0;
}

.main_consul .content ul>li .xi-angle-right-min {
    font-size: 15px;
    color: #1d5c6b;
    border: 1px solid #1d5c6b;
    border-radius: 50%;
    vertical-align: 5px;
    margin: 0 0 0 5px;
}


@media (max-width: 768px) {
    .main_consul .tel_box {
        width: 100%;
        padding: 0 0 0 0;
    }

    .main_consul .tel_box .txt {
        padding: 15px 15px;
    }

    .main_consul .tel_box .txt strong {
        font-size: 16px;
    }

    .main_consul .tel_box .txt .num {
        font-size: 28px;
    }

    .main_consul .tel_box .txt p {
        font-size: 12px;
    }


    .main_consul .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .main_consul .content ul {
        width: 100%;
    }

    .main_consul .content ul>li span {
        font-size: 16px;
    }


    .main_consul .content ul>li p {
        font-size: 14px;
    }

    .main_consul .content ul>li i {
        font-size: 20px;
    }

    .main_consul .content ul>li .xi-angle-right-min {
        font-size: 12px;
        vertical-align: 2px;
    }

}




.footer {
    background: #faf7ef;
    color: #444;
}

.footer .ft {
    padding: 30px 0;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
}

.footer .ft .con>ul {
    display: flex;
    gap: 30px;
    color: #777;
}

.footer .ft .con>ul>li {
    position: relative;
}

.footer .ft .con>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 9px;
    background: #c0c0c0;
}

.footer .ft .con>ul>li strong {
    display: block;
    font-weight: 500;
}

.footer .fb {
    padding: 30px 0;
    color: #777;
}

.footer .fb .logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer .fb .img_box {
    width: 200px;
    opacity: .3;
}


.footer .fb .sns>ul {
    display: flex;
    gap: 15px;
}

.footer .fb .sns>ul a {
    display: block;
    width: 30px;
}

.footer .fb .sns>ul a:hover {
    color: #000;
}


.footer .fb .logos {
    display: flex;
}

.footer .fb .tef {
    display: flex;
    gap: 20px;
}

.footer .fb .tef strong {
    font-weight: 500;
}


.footer .address_wrap {
    line-height: 1.9;
}

.footer .address_wrap ul {
    display: flex;
    gap: 20px;
}

.footer .address_wrap ul>li {
    position: relative;
    font-size: 16px;
}

.footer .address_wrap ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 9px;
    background: #ddd;
}

@media (max-width: 768px) {
    .footer .ft .con>ul>li {
        font-size: 12px;
        color: #888;
    }

    .footer .fb .tef {
        font-size: 14px;
        gap: 10px;
    }

    .footer .fb {
        font-size: 12px;
        color: #888;
    }

    .footer .fb .img_box {
        width: 160px;
        opacity: .3;
    }

    .footer .address_wrap ul {
        display: block;
        text-align: center;
    }

    .footer .address_wrap ul>li {
        font-size: 14px;
    }

    .footer .address_wrap ul>li::before {
        display: none;
    }

    .footer .address_wrap p {
        text-align: center;
    }
}







.to_top {
    position: fixed;
    bottom: 200px;
    right: 100px;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.to_top.on {
    bottom: 175px;
    visibility: visible;
    opacity: 1;
}

.to_top i {
    font-size: 20px;
    color: #333;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    width: 45px;
    height: 60px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}

.to_top i:hover {
    color: #fff;
    background: #1d5c6b;
}


@media (max-width: 768px) {
    .to_top {
        right: 30px;
        bottom: -100px;
    }

    .to_top i {
        font-size: 18px;
        width: 40px;
        height: 55px;
    }
}